---
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectPreview from '../../components/ProjectPreview.astro';
import { sortItemsByDateDesc } from '../../utils/data-utils';
import lists from '../../components/List.astro';

export async function getStaticPaths() {
    const pages = (await getCollection('pages')).lists;
    const pageCount = pages.length;
    return pages.map((page, index) => ({
        params: { slug: page.slug },
        props: {
            page,
            prevPage: index + 1 !== pageCount ? pages[index + 1] : null,
            nextPage: index !== 0 ? pages[index - 1] : null
        }
    }));
}

type Props = { page: CollectionEntry<'pages'>; prevProject: CollectionEntry<'pages'>; nextProject: CollectionEntry<'pages'> };

const { page, prevPage, nextPage } = Astro.props;
const { title, description, seo } = page.data;
const { Content } = await page.render();
---

<BaseLayout title={seo?.title ?? title} description={seo?.description ?? description} image={seo?.image} pageType="article" showHeader={false}>
    <article class="mb-16 sm:mb-24">
        <header class="mb-8">
            <h1 class="text-3xl leading-tight font-serif font-medium sm:text-5xl sm:leading-tight">{title}</h1>
        </header>
        <div class="max-w-none prose prose-dante sm:prose-lg">
            <Content />
        </div>
    </article>
    {
        (prevPage || nextPage) && (
            <div class="my-16 sm:my-24">
                <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">View Next</h2>
                {nextPage && <ProjectPreview project={nextPage} class="mb-10 sm:mb-12" headingLevel="h3" />}
                {prevPage && <ProjectPreview project={prevPage} class="mb-10 sm:mb-12" headingLevel="h3" />}
            </div>
        )
    }
</BaseLayout>
